* {
  font-family: "Lato";
  background-color: lavender;
}

#part1 p {
    color: red;
}

#part1 li {
    color: purple;
}

#part1 .accent {
    font-weight: bold;
    text-transform: uppercase;
}

#part2 > img {
    border: solid 5px red;
}
#part2 section img {
    border: solid 5px blue;
    margin-right: 10px;
}

#part2 section + p {
    color: green;
}

#part3 > ul {
    border: dashed 5px black;
    padding: 10px;
}

#part4 ul ul li {
    color: blue;
}

#part4 p:nth-of-type(even) {
    color: hotpink;
}